.container-menu-responsivo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.container-menu-responsivo:hover {
    color: #ff69b4;
}

.container-menu-responsivo__icon {
    font-size: 40px;
    cursor: pointer;
}

.container-menu-responsivo-aberta {
    border-radius: 20px 0 0 20px;
}

.container-menu-responsivo-items {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    border-radius: 20px 0 0 20px;
}

.menu-responsivo-cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3vh;
    padding: 0;
    gap: 20px;
}

.menu-responsivo-fechar__icon {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;
}

.menu-responsivo-fechar__icon:hover {
    color: #ff69b4;
}

.menu-responsivo-cabecalho__texto {
    font-family: 'PinkSunset-Regular', sans-serif;
    font-feature-settings: "liga" 1, "ss01" 1, "ss02" 1, "ss03" 1;
    font-variant-ligatures: common-ligatures;
    font-weight: lighter;
    font-size: 2.5rem;
    color: #000;
    cursor: pointer;
}

.menu-responsivo-cabecalho__texto:hover {
    color: #ff69b4;
}

.menu-responsivo-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.btn-menu-responsivo {
    font-size: 3.2rem;
    color: #000;
    text-transform: uppercase;

    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.texto-botao {
    margin: 0 0.5rem;
}

.estrela-hover {
  color: #000;
  font-size: 1.8rem;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Mostra a estrela ao passar o mouse */
.btn-menu-responsivo:hover .estrela-hover {
  opacity: 1;
  transform: scale(1);
}

.menu-responsivo-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.btn-menu-responsivo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.btn-menu-responsivo-footer__icon {
    font-size: 2rem;
    color: #000;
    transition: 0.2s;
}

.btn-menu-responsivo-footer__icon:hover {
    color: #ff69b4;
}