.fundo-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.conteudo-modal {
    background-color: white;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.botao-fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.imagem-modal {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.info-modal {
    margin-top: 10px;
}

.autor {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
