.pagina-inicial {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/background-flores-rosa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    text-align: center;
}

.pagina-inicial-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.pagina-inicial-dev {
    font-family: 'PinkSunset-Regular', sans-serif;
    font-feature-settings: "liga" 1, "ss02" 1, "ss03" 1;
    font-variant-ligatures: common-ligatures;
    font-weight: lighter;  
    font-size: 1.5rem;  
}

.conteudo-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin: 5rem 0;
}

.pagina-inicial-conteudo__titulo {
    font-family: 'PinkSunset-Regular', sans-serif;
    font-feature-settings: "liga" 1, "ss01" 1, "ss02" 1, "ss03" 1;
    font-variant-ligatures: common-ligatures;
    font-weight: lighter;
    font-size: 15rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.pagina-inicial-conteudo__texto {
    font-size: 2.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-explorar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: 20px;
    padding: 12px 24px;
    gap: 20px;
    font-size: 1.2rem;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-explorar__icon {
    font-size: 1.7rem;
}

.btn-explorar:hover {
    background-color: #6b2146;
}


/* RESPONSIVIDADE : PAGINA INICIAL */
@media (max-width: 768px) {
    .conteudo-centro { 
        margin: 8rem 0;
    }

    .pagina-inicial-conteudo__titulo {
        font-size: 8rem;
    }

    .pagina-inicial-conteudo__texto {
        font-size: 1.8rem;
    }
}
