.container-pagina-extrair {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    text-align: center;
    max-width: 100vw;
    width: 100%;
    height: 100vh;  
    overflow-y: auto;
    overflow-x: hidden;
}

.container-pagina-extrair-cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 100%;
    top: 0;
}

.pagina-extrair-botao-navbar {
    color: #000;
}

.container-pagina-extrair-logo__texto {
    font-family: 'PinkSunset-Regular', sans-serif;
    font-feature-settings: "liga" 1, "ss01" 1, "ss02" 1, "ss03" 1;
    font-variant-ligatures: common-ligatures;
    font-weight: lighter;
    font-size: 2.5rem;
    color: #000;
    cursor: pointer;
}

.container-pagina-extrair-logo__texto:hover {
    color: #ff69b4;
}

.container-pagina-extrair-botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pagina-extrair-botoes-login, .pagina-extrair-botoes-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 3rem;
    border-radius: 20px;
    cursor: pointer;
}

.pagina-extrair-botoes-login {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

.pagina-extrair-botoes-login:hover {
    color: #ff69b4;
    border: 1px solid #ff69b4;
}

.pagina-extrair-botoes-cadastro {
    background-color: #000;
    color: #fff;
}

.pagina-extrair-botoes-cadastro:hover {
    background-color: #ff69b4;
}

.pagina-extrair-botoes-galeria {
    font-size: 2.5rem;
    color: #000;    
}

.pagina-extrair-botoes-galeria:hover {
    color: #ff69b4;    
}

.container-pagina-extrair-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 50% 50% 0 0;
    background-color: #000;
    bottom: 0;
}

.container-pagina-extrair-footer__logo {
    font-family: 'PinkSunset-Regular', sans-serif;
    font-feature-settings: "liga" 1, "ss01" 1, "ss02" 1, "ss03" 1;
    font-variant-ligatures: common-ligatures;
    font-weight: lighter;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}

.container-pagina-extrair-footer__logo:hover {
    color: #ff69b4;
}

@media (max-width: 680px) {
    .pagina-extrair-botoes-login, .pagina-extrair-botoes-cadastro {
        display: none;
    }
}
