/* FOOTER */
.footer {
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100vw;
    font-size: 1rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer a {
    color: #f4d9ba;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

/* RESPONSIVIDADE : FOOTER */
@media (max-width: 768px) {
    .footer {
        padding: 1rem 2rem;
        white-space: normal;
    }
}
